.container {
    margin: 0 auto;
    text-align: center;
}

.text-center {
    text-align: center;
}

.simple-border {
    border: 3px dashed blue;
    width: 80%;
    margin: 0 auto;
}

.container p {
    margin-top: 60px;
}